.container
  
  %br
  %br
  .row-fluid
    %h1.text-center 
      Search for Schedules
  %br
  %br
  %br
  %br
  %br
  .row-fluid
    .col-md-3
    = link_to 'Browse', routines_path, class: 'btn btn-primary btn-lg col-md-2'
    .col-md-1
    = link_to 'Build', new_routine_path, class: 'btn btn-primary btn-lg col-md-2'
  %br
  %br
  %br
  %br
